APP_ENV=dev
PORT=8080
NEXT_PUBLIC_APP_URL=http://localhost:${PORT}

# -----------------------------------------
# API
# -----------------------------------------
NEXT_PUBLIC_API_BASE_URL=https://dummyjson.com

# -----------------------------------------
# Certificate Key Path
# -----------------------------------------
# public.pem  : openssl genpkey -algorithm RSA -out private.pem -pkeyopt rsa_keygen_bits:2048
# private.pem : openssl rsa -pubout -in private.pem -out public.pem
NEXT_PUBLIC_CRYPTO_HASHED_KEY_PATH=./keys/crypto/public.pem
NEXT_PUBLIC_CRYPTO_ENCRYPTED_KEY_PATH=./keys/crypto/private.pem