APP_ENV=dev
PORT=8080
NEXT_PUBLIC_APP_URL=http://localhost:${PORT}

# -----------------------------------------
# API
# -----------------------------------------
NEXT_PUBLIC_API_BASE_URL=https://dummyjson.com
